// Fonts
@import url("https://fonts.bunny.net/css?family=Nunito");

// Variables
@import "../../../variables";

// Mixins
@import "../../../mixins";

.header-container {
    width: 100%;
    height: 10vh;
    background: #07889b;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.nav-container {
    @include centerContent;
    width: 450px;
    height: 50px;
    margin: 0px;

    a {
        text-decoration: none;
        font-size: 18px;
        margin: 8%;
        color: black;
        &:hover {
            font-size: 22px;
            font-weight: bold;
        }
    }
}

.dropdown {
    list-style: none;
}

// Estilize o link de toggle do dropdown
.dropdown-toggle {
    cursor: pointer;
}

// Estilize o dropdown menu
.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: blue;
    padding: 10px;

    // Adiciona animação de fade-in
    animation: fadeIn 0.5s ease-in-out forwards;

    @keyframes fadeIn {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
}

// Adicione animação de fade-out ao esconder o menu
.dropdown-menu.fadeOut {
    animation: fadeOut 0.5s ease-in-out forwards;

    @keyframes fadeOut {
        from {
            opacity: 1;
        }
        to {
            opacity: 0;
        }
    }
}

// Mostra o dropdown menu quando o dropdown-toggle é clicado
.dropdown:hover .dropdown-menu {
    display: block;
}

// Adicione a classe de animação fadeOut quando o dropdown é fechado
.dropdown:not(:hover) .dropdown-menu {
    display: block;
    animation: fadeOut 0.5s ease-in-out forwards;
}
